@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,900');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fira Sans', sans-serif;
    margin-top: 0;
    color: #2c3e50;
}

h1 {
    font-size: 80px !important;
}

h2 {
    font-weight: 300;
}

h3 {
    border-bottom: 1px solid;
    font-size: 45px !important;
}

a {
    color: #d35400;
    text-decoration: none;
    border-bottom: 1px solid;
}

a:hover {
    border-bottom: none;
}

li {
    line-height: 1.6em;
}

iframe {
    border: 0;
}

code {
    background: #3498db;
    color: white;
    padding: 2px 15px;
    margin: 3px 0;
    border-radius: 8px;
    display: inline-block;
}

mark {
    border-radius: 8px;
    display: inline-block;
    padding: 0 20px;
    background-color: #8e44ad;
    color: white;
}

kbd {
    background-color: #ecf0f1;
    color: #2c3e50;
    padding: 1px 6px;
    border: 1px solid #bfbfbf;
    border-radius: 3px;
}

/* -------------------------------------------------------------------------- */

.remark-slide-content {
    margin-top: 0;
    font-family: 'Fira Sans', sans-serif;
    font-size: 26px;
}

/* -------------------------------------------------------------------------- */

.remark-slide-content.slide-fullscreen-background {
    background-size: contain;
}

/* -------------------------------------------------------------------------- */

.size10,
.size10 .remark-code {
    font-size: 10px;
}

.size20,
.size20 .remark-code {
    font-size: 20px;
}

.size25,
.size25 .remark-code {
    font-size: 25px;
}

.size30,
.size30 .remark-code {
    font-size: 30px;
}

.size40,
.size40 .remark-code {
    font-size: 40px;
}

.size50,
.size50 .remark-code {
    font-size: 50px;
}
