@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,900');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fira Sans', sans-serif;
    margin-top: 0;
}

h1 {
    font-size: 80px !important;
}

h2 {
    font-weight: 300;
}

h3 {
    border-bottom: 1px solid;
    font-size: 45px !important;
}

a {
    color: #2034f4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    line-height: 1.6em;
}

iframe {
    border: 0;
}

code {
    background: #444;
    color: white;
    padding: 2px 15px;
    margin: 3px 0;
    border-radius: 8px;
    display: inline-block;
}

mark {
    border-radius: 8px;
    display: inline-block;
}

mark:before,
mark:after {
    content: '‼️';
    padding: 0 10px;
}

/* -------------------------------------------------------------------------- */

.remark-slide-content {
    margin-top: 0;
    font-family: 'Fira Sans', sans-serif;
    font-size: 26px;
}
